@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    display: flex;
    font-size: 10px;
    flex-wrap: wrap;
    background-color: beige;
}
.text-3xl font-bold text-center mb-4{
    text-align: center;
}